@model Quizz.Models.TBL_STUDENT

@{
    ViewBag.Title = "Student Login";
}

<h2  style="color:#00ffff; margin-left:17%; ">Student login</h2>
@if (ViewBag.Msg != null)
{
    <div class="alert alert-danger">
        <strong>Error</strong>@ViewBag.Msg
    </div>

}
<style type="text/css">
    body{
        margin-top:5%;
        margin-left:20%;
    }


</style>

@using (Html.BeginForm("slogin", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.S_ID,"Student ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S_PASSWORD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.S_PASSWORD, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.S_PASSWORD, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("New User", "Register")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
